.Card {
  background-color: rgba(251, 244, 237, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  margin: 15px 0px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1180px;
  width: 95%;
  line-height: 1.75em;
  position: relative;
  align-items: center;
}

.Card .cardDate {
  font-size: 1.35em;
  margin-bottom: 10px;
}

.Card .cardBtn {
  position: absolute !important;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
}
.Card .cardInfo {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .Card {
    flex-direction: row;
    padding: 30px;
  }
}
