.tooltip {
  position: relative;
  display: inline-block;
  padding: 3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.CardContainer h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 85px;
  margin-bottom: 30px;
}

.CardContainer .lineGraphsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CardContainer .linegraph {
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.CardContainer .linegraph .tooltip {
  position: absolute;
  top: 30px;
  left: 20px;
}

.CardContainer .radarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardContainer .radar {
  padding: 30px;
  width: 550px;
  background-color: rgba(251, 244, 237, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CardContainer .radar .tooltip {
  position: absolute;
  top: 30px;
  left: 20px;
}

.CardContainer .checkboxContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.CardContainer .checkboxContainer input,
.tooltip {
  margin-left: 25px;
  margin-right: 5px;
}

.CardContainer .submissionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardContainer input[type="checkbox"] {
  accent-color: rgb(96, 169, 214);
}

.CardContainer input {
  cursor: pointer;
}

.CardContainer h2 {
  text-align: center;
}

.CardContainer .fa-circle-info {
  color: rgba(32, 69, 74, 0.8);
}

@media screen and (min-width: 1200px) {
  .CardContainer .radarContainer {
    flex-direction: row;
  }
}
