.Details .emotions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Details .emotions p {
  margin: 5px;
}

.Details .column {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  margin: 10px;
}

.Details .enjoyment {
  background-color: rgba(243, 231, 165, 0.7);
}

.Details .sadness {
  background-color: rgba(110, 168, 211, 0.7);
}

.Details .fear {
  background-color: rgba(64, 96, 93, 0.7);
}

.Details .anger {
  background-color: rgba(194, 116, 108, 0.7);
}

.Details .disgust {
  background-color: rgba(235, 179, 155, 0.7);
}

.Details .barChart {
  width: 85%;

  background-color: rgba(251, 244, 237, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  padding: 30px;
  margin: 0, 20px;
}

.Details .chartAndEmotionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Details .textInput {
  background-color: rgba(251, 244, 237, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 10px;
}

.Details .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Details .textTopics {
  font-weight: bold;
  color: rgb(2, 34, 175);
}

@media screen and (min-width: 768px) {
}
