.Details .emotions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin-bottom: 20px;
}

.Details .emotions p {
  margin: 5px;
}
.Details p {
  color: black;
}

.Details .column {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  margin: 10px;
  width: 165px;
}

.Details .enjoyment {
  background-color: rgba(243, 231, 165, 0.7);
}

.Details .sadness {
  background-color: rgba(110, 168, 211, 0.7);
}

.Details .fear {
  background-color: rgba(64, 96, 93, 0.7);
}

.Details .anger {
  background-color: rgba(194, 116, 108, 0.7);
}

.Details .disgust {
  background-color: rgba(235, 179, 155, 0.7);
}

.Details .barChart {
  width: 85%;
  background-color: rgba(251, 244, 237, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  padding: 30px;
  margin: 0, 20px;
  max-width: 1000px;
}

.Details .chartAndEmotionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Details .textInput {
  background-color: rgba(251, 244, 237, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 20px;
  width: 85%;
  max-width: 1000px;
  line-height: 1.5em;
}

.Details .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Details .detailsHeader {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  width: 95%;
  align-items: left;
}
.Details .detailsHeader h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 30px;
}
.Details .detailsHeader p {
  font-size: 1.25em;
  color: rgb(32, 69, 74);
  margin-bottom: 20px;
}

.Details .deletebtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Details button {
  margin: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.9em;
  color: rgb(244, 218, 193);
  background-color: rgb(32, 69, 74);
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Details button:hover {
  background-color: rgb(96, 169, 214);
  color: rgb(32, 69, 74);
}

@media screen and (min-width: 768px) {
  .Details .emotions {
    justify-content: center;
  }
}
