.Header img {
  height: auto;
  width: 40%;
  display: inline-block;
}

.Header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.Header ul {
  list-style: none;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  top: 60px;
  right: 10px;
  font-size: 75%;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes example {
  0% {
    background-color: rgba(0, 0, 0, 0);
    right: 10px;
    top: 10px;
  }
}
.Header ul li,
a {
  margin-left: 10px;
  margin-bottom: 3px;
}

.Header .fa-bars {
  color: rgb(32, 69, 74);
  height: 100%;
  width: 100%;
  align-items: center;
}

.Header .fa-bars:hover {
  cursor: pointer;
  color: rgb(96, 169, 214);
}

@media screen and (min-width: 768px) {
  .Header ul {
    justify-content: space-between;
    flex-direction: row;
    right: 80px;
    top: 25px;
  }

  @keyframes example {
    0% {
      background-color: rgba(0, 0, 0, 0);
      right: 10px;
      top: 25px;
    }
  }
}
