.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 125px;
  margin-bottom: 50px;
}
.Home p {
  background-color: rgba(251, 244, 237, 0.7);
  border-radius: 20px;
  padding: 30px 35px;
  font-size: 1.25em;
  color: rgb(32, 69, 74);
  line-height: 1.75em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 55%;
  max-width: 600px;
  margin-bottom: 30px;
}

.Home button {
  margin: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.9em;
  color: rgb(244, 218, 193);
  background-color: rgb(32, 69, 74);
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Home button:hover {
  background-color: rgb(96, 169, 214);
  color: rgb(32, 69, 74);
  cursor: pointer;
}
