.Home p {
  background-color: rgba(251, 244, 237, 0.7);
  border-radius: 20px;
  padding: 20px 30px;
  font-size: 22px;
  color: rgb(32, 69, 74);
  line-height: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home button {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(32, 69, 74);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
