.SubmissionForm .formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SubmissionForm label,
h2,
p {
  color: rgb(32, 69, 74);
}

.SubmissionForm .form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: rgba(251, 244, 237, 0.5);
  padding: 40px;
  border-radius: 30px;
  width: 55%;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5em;
}
.SubmissionForm .form1 #date {
  text-align: center;
  margin-left: 10px;
  background-color: rgba(251, 244, 237, 0.9);
}

.SubmissionForm .dateBox {
  display: flex;
  align-items: center;
}
.SubmissionForm .form1 div {
  margin-bottom: 20px;
}
.SubmissionForm textarea {
  margin-top: 10px;
  background-color: rgba(251, 244, 237, 0.9);
}
.SubmissionForm .form2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: rgba(251, 244, 237, 0.5);
  padding: 40px;
  border-radius: 30px;
  width: 55%;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5em;
}

.SubmissionForm .form3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: LEFT;
  background-color: rgba(251, 244, 237, 0.5);
  padding: 40px;
  border-radius: 30px;
  width: 55%;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.5em;
}
.SubmissionForm .form4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 30px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(251, 244, 237, 0.5);
  margin: 0px 20px;
  align-items: center;
}

.SubmissionForm h3 {
  color: rgb(32, 69, 74);
  font-size: 1.5em;
}

.SubmissionForm .slider {
  width: 87%;
  cursor: pointer;
}

.SubmissionForm .sliderNum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 8px;
}

.SubmissionForm .form4 .sliderColumn {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 75%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 25px 25px 25px;
  border-radius: 20px;
}

.SubmissionForm .form4 .enjoymentColumn {
  background-color: rgba(243, 231, 165, 0.7);
}
.SubmissionForm .sadnessColumn {
  background-color: rgba(110, 168, 211, 0.7);
}
.SubmissionForm .fearColumn {
  background-color: rgba(64, 96, 93, 0.7);
}
.SubmissionForm .angerColumn {
  background-color: rgba(194, 116, 108, 0.7);
}
.SubmissionForm .disgustColumn {
  background-color: rgba(235, 179, 155, 0.7);
}

.SubmissionForm .duelingButtons {
  width: 55%;
  max-width: 700px;
  position: relative;
  min-width: 320px;
}
.SubmissionForm .duelingButtons .nxtBtn {
  position: absolute;
  right: 0;
}
.SubmissionForm .duelingButtons .backBtn {
  position: absolute;
  left: 0;
}
.SubmissionForm .duelingButtons .submitBtn {
  position: absolute;
  right: 0;
}

.SubmissionForm button {
  margin: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.9em;
  color: rgb(244, 218, 193);
  background-color: rgb(32, 69, 74);
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.SubmissionForm button:hover {
  background-color: rgb(96, 169, 214);
  cursor: pointer;
  color: rgb(32, 69, 74);
}

.SubmissionForm section {
  text-align: left;
}
.SubmissionForm section p {
  margin: 0;
  margin-bottom: 20px;
}

.SubmissionForm {
  padding-bottom: 150px;
}

@media screen and (min-width: 1200px) {
  .SubmissionForm .form4 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /* 
  .SubmissionForm .form4 .sliderColumn {
    width: 400px;
  } */
}
