/* resets */
body,
h1,
h2,
p,
a {
  margin: 0px;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
  font-weight: 600;

  background-image: url(../src/assets/mountains.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 20px;
}

a {
  text-decoration: none;
  color: rgb(32, 69, 74);
}

a:hover {
  cursor: pointer;
  color: rgb(96, 169, 214);
}

.textTopics {
  font-weight: 800;
  color: rgb(96, 169, 214);
}
